//colors

$bgcolor: rgb(207,224,203);
$mdgreen: rgb(153,186,145);
$dkgreen: #5d675a;

//font
$Carrois:  'Carrois Gothic', sans-serif;
$CarroisSC:  'Carrois Gothic SC', sans-serif;

.float-left {
  float: left;
}
.float-right {
  float:right;
}
.float-clear {
  clear: both;
}
